body {
    background:linear-gradient(to top, transparent, rgb(85, 100, 17)), url(img/casa.png);
    background-size: 50%;
}

.titulo{
    text-align: center;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.boton{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(215, 252, 9);
    background-color: rgb(44, 38, 38);
    max-width: 135px;
    opacity: 1;
    border-radius: 15px;
}